h1{
    color: #3b3d59;
}

#cuerpo{
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
}

#contenedor{
    width: 350px;
    display: flex;
    flex-direction: column;
    background-color: #474768 ;
    border-radius: 24px;
}

#pantalla{

    width: 70%;
    background-color: #3b3d59;
    display: flex;
    justify-content: end;
    align-items: end;

    margin: 20px;
    border-radius: 24px;
}

#resultado{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: aliceblue;
    padding: 8px 24px;
    font-size: 46px;
    text-align: right;
    height: 60px;
}

#botones{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px ;
}

#botones{
    margin-bottom: 40px;
    width: 100%;
}

#botonIgual{
    height: 78%;
    margin-top: 10px;
}

.numeros{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.botonesNumeros{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 5px;
}

.operacionesInferior{
    display: flex;
    flex-direction: row;
}

.igual{
    padding-top: 5px ;
    display: flex;
    flex-direction: column;
    margin-left: 3px;
}

.botonMedium{
    width: 60px;
    height: 60px;
    border-radius: 40px;
    background-color: #4d4d6b;
    border-color: #42425f;
    color: aliceblue;
    font-size: 24px;
}

.botonOperacion{
    background-color: #8470cf;
    border-color: #7b6fbc;
}

.botonLarge{
    background-color: coral;
    border-color: rgb(238, 98, 47);
}
